$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.container {
    max-width: 730px;
}

// typeahead
.typeahead_list {
    position: absolute;
    z-index: 2;
    width: 95%;
}
.typeahead_list_item {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid grey;
}
.typeahead_list_item-selected, .typeahead_list_item:hover {
    background-color: #337ab7;
    color: #fff;
}

.typeahead_validmarker {
    position: absolute;
    top: 7px;
    right: 25px;
    color: green;
    font-weight: bold;
}
