extends ./layout.jade

block scripts
    script(src='/js/rankyui.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', type='text/css', href='css/index.css')
    
block content
    h1 Ranky - Scoring the elite

    .newMatch
        h2 New Match
        table.match
            tr
                td: input.player1(placeholder="Player1 id")
                td: input.score1(placeholder="Score1")
            tr
                td: input.player2(placeholder="Player2 id")
                td: input.score2(placeholder="Score2")
        button.addMatchBtn Add match
    
    .createPlayer
        h2 Create player
        input.playername(placeholder='Player name')
        button.createPlayerBtn Create player

    #playerList

