doctype
html
    head
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        block scripts
    
    title= "Ranky - for ranking the important stuff"
  body
    #content
        block content
