<div class='addMatch'>
    <h1>Add match</h1>
    <form class="form-horizontal">
        <h2>Team 1</h2>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newMatch-team1-player1">Player 1</label>
            <div class="col-sm-4">
                <input id="newMatch-team1-player1" class="form-control" ></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newMatch-team1-player1">Player 2</label>
            <div class="col-sm-4">
                <input id="newMatch-team1-player2" class="form-control" ></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newMatch-team1-score">Score</label>
            <div class="col-sm-2">
                <input id="newMatch-team1-score" class="form-control" ></input>
            </div>
        </div>
        <h2>Team 2</h2>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newMatch-team2-player1">Player 1</label>
            <div class="col-sm-4">
                <input id="newMatch-team2-player1" class="form-control" ></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newMatch-team2-player1">Player 2</label>
            <div class="col-sm-4">
                <input id="newMatch-team2-player2" class="form-control" ></input>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="newMatch-team2-score">Score</label>
            <div class="col-sm-2">
                <input id="newMatch-team2-score" class="form-control" ></input>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="newMatch-btn" type="submit" class="btn btn-primary pull-right">Register match</button>
            </div>
        </div>
    </form>
</div>
